.modal {
    position: relative;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #1e1e1e;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 35%;
    height: 40%;
    overflow-y: auto;
    text-align: center;
  }
  
  .modal::backdrop {
    background-color: rgba(0, 0, 0, 0.35);
}
  
  .modal h2 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 50px;
  }

  .modal p {
    font-size: 16px;
    color: #cccccc;
}
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }